:root {
  --primary: #2A9D8F;
  --secondary: #E76F51;
  --warning:#E9C46A;
  --dark:#264653;
  --info:#2A819D;
}



hr:not([size]) {
  width: 30%;
  margin: 0 auto;
  opacity: 100;
  color: var(--secondary);
  height: 5px !important;
  border-radius: 10px;
}
.btn-custom{
  color: white;
  border:1px solid #21887c !important;
  background-color: #21887c !important;
  border-radius: 20px !important;
}
.btn-custom:hover{
  border:1px solid #1a635a !important;
  background-color: #1a635a !important;
}
.btn-custom a{
  color: white;
  text-decoration: none;
}
.btn-custom a:hover{
  color: white;
  text-decoration: none;
}

/* ----------------------------------------------------
Navbar 
--------------------------- --------------------------*/
.navbar{
  position: fixed !important;
  width: 100%;
  color: white;
  z-index: 99;
  transition: all 0.3s ease;
}
.navbar.sticky  {
  background: white;
  color: black;
  padding: 15px 0 !important;
  box-shadow: 0px 5px 5px 0px rgba(8, 8, 8, 0.1);
}
.navbar.sticky .menu-list .menu-items .link{
  color: black;
}

.logo span {
  font-size: 32px;
  font-weight: 500;
}
 .logo span:nth-child(1){
  color: var(--primary) !important;
}
.logo span:nth-child(2){
  color: var(--secondary) !important;
}

.menu-open{
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.cancel-btn{
  display: none;
}
.menu-list .menu-items .link{
  color: white;
  text-decoration: none;
  font-size: 17px;
  padding:0 20px ;
  font-weight: 600;
}
.menu-list .menu-items .link:hover{
  color: white;
  text-decoration: none;
}


/* ----------------------------------------------------
HERO 
--------------------------- --------------------------*/
.hero{
  height: 600px;
}

.carousel-item{
  height: 600px;
}




/* ----------------------------------------------------
OUR SERVICES 
--------------------------- --------------------------*/
.wrapper-services{
  height: max-content;
}
.card-services {
  display: inline-block;
}
.card-services img {
  max-width: 100%;
}




/* ----------------------------------------------------
OUR DESTINATION 
--------------------------- --------------------------*/
.our-destinations{
  cursor: grab;
}
.our-destination-img{
  width: 30%;
}
.our-destination-img img {
max-width: 100%;
}
.destination{
  background-image: url("./asset/img/destination.jpg") ;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: max-content;
}
.destination h1{
  display: inline-block;
  border-bottom: 5px solid var(--secondary);
}
.destination button{
  background-color: var(--primary);
  border-color: var(--primary);
}
.destination button:hover{
  background-color: #21887c;
  border-color: #21887c;
}
.our-destinations .tns-outer button{
  display: none;
}

/* ----------------------------------------------------
GALLERY
--------------------------- --------------------------*/
.tns-slider{
  padding: 25px;
}
.tns-controls{
  text-align: center;
}
.tns-controls button{
 border: 1px solid var(--primary);
 transition: all 0.2s;
 color: white;
 background-color:var(--primary);
  margin: 0 10px;
  border-radius: 5px;
  padding:2px 15px;
  text-transform: capitalize;
}
.tns-controls button:hover{
 border: 1px solid #26756c;
 background-color:#26756c;
}
.gallery {
  padding: 20px;
}
.gallery img {
  transition: transform .2s;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.gallery img:hover {
  transform: scale(1.2);
}
.caption-services{
  line-height: 1.2;
}
.caption-services h4 {
  color: var(--dark);
}
.caption-services strong {
  font-size: 14px;
}
.caption-services span{
  font-size: 14px;
}
.caption-services .harga {
  color: var(--secondary);
}




/* ----------------------------------------------------
OUR Vision 
--------------------------- --------------------------*/
.card-our-vision{
  background:white;
  position: absolute;
  z-index: 20;
}


/* ----------------------------------------------------
TEAM FOUNDER 
--------------------------- --------------------------*/
.team-founder hr:not([size]) {
  width: 15%;
  margin: 0 auto;
  opacity: 100;
  color: var(--secondary);
  height: 5px !important;
  border-radius: 10px;
}
.card-team{
  transition: all 0.3s ease;
  width: 300px;
  height: max-content;
  margin: 0px 20px;
}
.card-team .info{
  width: 290px;
  position: absolute;
  color: white;
  transition: all 0.3s ease ;
  margin-top: -90px;
  padding: 10px;
  height: 100px;
  opacity: 0;
}
.card-team .info h5{
  color: var(--secondary);
}
.card-team:hover .info{
  margin-top: -100px;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
}
/* ----------------------------------------------------
FOOTER
--------------------------- --------------------------*/
.footer {
  background-color: var(--dark);
  color: white;
}
.footer .logo span{
font-size: 25px;
}
.footer a{
  text-decoration: none;
  color: white;
}
.footer a:hover{
  text-decoration: none;
  color: rgb(202, 193, 193);
}
